* {
    font-family: sans-serif;
}

.nav-bar {
    width: 100%;
    background-color: white;
}

.links ul li {
    display: inline-block;
    align-items: baseline;
    padding-right: 1rem;
    font-size: 0.7rem;
}

.links ul li img {
    height: auto;
    width: 90%;
}

/*------------------------*/

.jumbotron {
    background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/jumbotron.png?_gl=1*5bondv*_ga*MTI1NDcwODE4NC4xNjQ0NzY5MDQz*_ga_3LRZM6TM9L*MTY1NjQwNzgxMy45My4wLjE2NTY0MDc4MTMuNjA.");
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding: 6rem 0;
    background-repeat: no-repeat;
    background-size:cover;

}

.jumbotron .header {
    background-color: gray;
    color: white;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: .8rem;
}

.jumbotron h1, 
.jumbotron p {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

/*------------------------*/

.container .first {
    padding: 3rem 2rem;
    border-bottom: .8px solid lightgrey;
} 

.container .row .one {
    text-align: left;
    font-style: italic;
    font-weight: light;
    width: 90%;
    font-size: 1.3rem;
}

.container .first .two {
    text-align: right;
    font-style: italic;
    font-weight: light;
    font-size: .8rem;
}

.first .two span {
    font-weight: bold;
}

/*------------------------*/

.container .why h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
}

.container .cards {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.container .cards .card {
    display: block;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.container .cards .card img,
.container .cards .card p {
    width: 100%;
    height: auto;
    text-align: center;
}

/*--------------*/
.team {
    background-color: rgb(37, 37, 37);
    border-radius: 0.3rem;
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.team h2 {
    text-align: center;
    padding-top: 1.5rem;
    color: white;
    font-weight: 100;
    font-size: 3rem;
}

.carousel-wrapper {
    height: 600px;
    position: relative;
    width: 95%;
    display: block;
    margin: 2rem auto;
    border: 1px solid white;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.carousel-item p {
    width: 30%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    line-height: 2rem;
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    border-radius: 0.3rem;
    background-color: rgb(37, 37, 37);
}

.carousel-item p span {
    font-weight: bolder;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/brian.png?_gl=1*1x8iel0*_ga*MTI1NDcwODE4NC4xNjQ0NzY5MDQz*_ga_3LRZM6TM9L*MTY1NjQwNzgxMy45My4wLjE2NTY0MDc4MTMuNjA.");
    background-size:cover;
}

.item-2 {
    background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/andy.png?_gl=1*1x8iel0*_ga*MTI1NDcwODE4NC4xNjQ0NzY5MDQz*_ga_3LRZM6TM9L*MTY1NjQwNzgxMy45My4wLjE2NTY0MDc4MTMuNjA.");
    background-size: cover;
}

.item-3 {
    background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/angela.png?_gl=1*1x8iel0*_ga*MTI1NDcwODE4NC4xNjQ0NzY5MDQz*_ga_3LRZM6TM9L*MTY1NjQwNzgxMy45My4wLjE2NTY0MDc4MTMuNjA.");
    background-size: cover;
}

.item-4 {
    background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/amie.png?_gl=1*1x8iel0*_ga*MTI1NDcwODE4NC4xNjQ0NzY5MDQz*_ga_3LRZM6TM9L*MTY1NjQwNzgxMy45My4wLjE2NTY0MDc4MTMuNjA.");
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, 
#item-3:target ~ .item-3,
#item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 0.8rem;
}